<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ppori.rtrade.search.repository.AptRepository">

    <select id="getApt" parameterType="com.ppori.rtrade.domain.Apt" resultType="com.ppori.rtrade.domain.Apt">
        select *
          from rtrade
         where rownum = 1
    </select>

    <select id="getAptList" parameterType="Map" resultType="com.ppori.rtrade.domain.Apt">
        select *
          from rtrade
    </select>

</mapper>
