<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/type08.css">
</head>
<body>
APT LIST
<table class="type08">
    <thead>
    <tr>
        <th scope="cols">시군구</th>
        <th scope="cols">번지</th>
        <th scope="cols">단지명</th>
        <th scope="cols">면적</th>
        <th scope="cols">계약년월</th>
        <th scope="cols">계약일</th>
        <th scope="cols">금액</th>
        <th scope="cols">층수</th>
        <th scope="cols">준공</th>
        <th scope="cols">도로명</th>
        <th scope="cols">거래방식</th>
    </tr>
    </thead>
    
    <tbody>
		<tr th:each="apt : ${aptList}">
		    <td th:text="${apt.streetAdd}">시군구</td>
		    <td th:text="${apt.streetNo}">번지</td>
		    <td th:text="${apt.aptComplex}">단지명</td>
		    <td th:text="${apt.expSize}">면적</td>
		    <td th:text="${apt.contractYymm}">계약년월</td>
		    <td th:text="${apt.contractDd}">계약일</td>
		    <td th:text="${apt.price}">금액</td>
		    <td th:text="${apt.floorNo}">층수</td>
		    <td th:text="${apt.builtYear}">준공</td>
		    <td th:text="${apt.streetName}">도로명</td>
		    <td th:text="${apt.tradeType}">거래방식</td>
		</tr>

    </tbody>
</table>


</body>
</html>
